; *{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-image: url(../imag/sports-style-halftone-memphis-black-background_1017-33619.webp);
    background-size:cover;
    background-repeat: no-repeat;
    
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
form{
    width: 100vh;
    height: 70vh;
    display: flex;
    position:relative;
    flex-direction: column;
    background-color: white;
    margin: 0 auto;
    top: 65px;
}
