; *{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-image: url(../imag/sports-style-halftone-memphis-black-background_1017-33619.webp);
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
form{
    width: 100vh;
    height: 70vh;
    display: flex;
    position:relative;
    flex-direction: column;
    background-color: ;
    margin: 0 auto;
    top: 20px;
}
.login{
    width:93vh ;
    font-size: 3rem;
    font-family: ' Times, serif';
    direction: ltr;
    color:rgba(6, 82, 221,0.5);
    border-bottom: 2px solid rgba(211, 84, 0,1.0);
} 

.a2{
    width:93vh ;
    background-color:unset;
    margin-top: 45px;
    border: none;
    border-bottom: 2px solid rgba(211, 84, 0,1.0);
    color: gainsboro;
    
     
}
.a2:focus{
    outline: none;    
}
.a4{
    width:93vh ;
    background-color: unset;
    margin-top: 30px;
    border: none;
    border-bottom: 2px solid rgba(211, 84, 0,1.0);
    color: gainsboro;
}
.a4:focus{
    outline: none;
}
.a5{
    width: 30vh;
    font-size: 1.50rem;
    background-color: unset;
    margin: 0 auto;
    margin-top: 20px;
    color: rgba(87, 101, 116,1.0);
}
.a5:hover{
    background-color: rgba(255, 121, 63,0.6);
    color:gainsboro ;
    cursor: pointer;
    font-weight: 700;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    text-align: left;
}
ul li{
    list-style: none;
    
}
 a{
text-decoration: none;
 }
